<!-- <div class="container">
  <div class="item flex-2 logo"><img alt="logo" src="../../assets/img/TheF2E.png"></div>
  <div class="item nav">修煉精神時光屋</div>
  <div class="item nav">薪資調查報告</div>
</div> -->

<div class="header container">
    <div class="item flex-2 logo"><img alt="logo" src="../../assets/img/TheF2E.png"></div>
    <ul>
        <li class="item nav"><a href="#">修練精神時光屋</a></li>
        <li class="dropdown nav">
            <a href="#">薪資調查報告</a>
            <ul class="dropdown-menu">
                <li><a href="#">前端薪資調查報告</a></li>
                <li><a href="#">UI薪資調查報告</a></li>
            </ul>
        </li>
    </ul>
</div>
