<p>前端薪資調查報告</p>

<div>
  <table class="pageFunction">
    <thead>
      <th>基本資料</th>
      <th>薪資與產業</th>
    </thead>
    <tbody>

    </tbody>
  </table>

    <select name="" id="">
      <option value="2021">2021年</option>
    </select>
</div>

<div class="firstSVG">
  <div>
    <label for="">地區</label>
  </div>
  <div>
    <label for="">年齡</label>
  </div>
</div>

<div class="secondSVG">
  <div>
    <label for="">性別比例</label>
  </div>
  <div>
    <label for="">科系與學歷</label>
  </div>
</div>

<div class="thirdSVG">
<label for="">第一份工作所採用之技術/軟體</label>
</div>
